{% extends "layout.html" %}
{% block content %}

	Welcome to my webpage <br />
	<h1><a href="{{ url_for('login') }}">login</a></h1>

	<img src="https://strengthandsunshine.files.wordpress.com/2014/04/buckwheat-english-muffin-buns-2.jpg?w=640">

	<img src="https://d2wvksc3i53c0p.cloudfront.net/media/catalog/product/optimized/a/c/ac36b4a15d5d3812913b305e5bc45225/sac_store-17928.png">

	<img src="https://mcdonalds.com.au/sites/mcdonalds.com.au/files/Product_thumb_Cheeseburger_0_0.png" alt="" title="">

	<img src="https://mcdonalds.co.nz/sites/mcdonalds.co.nz/files/Sauce%20Ketchup_hero.png">

	

{% endblock %}